<h2>Error: Something Went Wrong</h2>

<p>Something's not quite right...</p> 

<p>If you're placing an order, please verify the information you provided is correct. You may want to check with your bank to ensure your card is still active and your personal information is up-to-date. If you believe you're receiving this message in error, try placing another order.</p>

<a href="/order" class="btn btn-primary btn-large">Return to the order page...</a>
