<div class="row">
  <div id="section" class="span8">
    <h3>Subhead </h3>
    <p><strong>This is boilerplate text.</strong> You should remove this text and replace it with something else. You might include an image, a video, a description, a list of benefits, or a call to action. The possibilities are endless. The only limit... is yourself.</p>
  </div>
</div>

<div class="row">
  <div id="section" class="span4 fade">
    <h3>Subhead </h3>
    <p><strong>This is boilerplate text.</strong> You should remove this text and replace it with something else. You might include an image, a video, a description, a list of benefits, or a call to action. The possibilities are endless. The only limit... is yourself.</p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
  <div id="section" class="span4 fade">
    <h3>Subhead </h3>
    <p><strong>This is boilerplate text.</strong> You should remove this text and replace it with something else. You might include an image, a video, a description, a list of benefits, or a call to action. The possibilities are endless. The only limit... is yourself.</p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
</div><!-- /row -->

<div class="row">
  <div id="section" class="span4 fade">
    <h3>Subhead </h3>
    <p><strong>This is boilerplate text.</strong> You should remove this text and replace it with something else. You might include an image, a video, a description, a list of benefits, or a call to action. The possibilities are endless. The only limit... is yourself.</p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
  <div id="section" class="span4 fade">
    <h3>Subhead </h3>
    <p><strong>This is boilerplate text.</strong> You should remove this text and replace it with something else. You might include an image, a video, a description, a list of benefits, or a call to action. The possibilities are endless. The only limit... is yourself.</p>
    <p><a class="btn" href="#">View details »</a></p>
  </div>
</div><!-- /row -->